<div class="container">

  <h1><%= link_to "Flat Explorer ðŸ ", root_path, style: "text-decoration: none; color: inherit;" %></h1>

  <div id="flats">
    <% @flats.each do |flat| %>
      <%= render flat %>
      <p>
        <%= link_to "Show this flat", flat, class: "btn_show" %>
      </p>
    <% end %>
  </div>

  <div class="flat_new">
  <%= link_to "New flat", new_flat_path, class: "btn_new" %>
  </div>

  <div class="map-container"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
