<div class="container">

<h2><%= @flat.name %></h2>

<div>
  <%= link_to edit_flat_path(@flat) do %>
  <i class="fa-solid fa-pen-to-square"></i>
<% end %> |
<%= link_to flats_path do %>
<i class="fa-solid fa-building"></i>
<% end %>

  <%= button_to "Delete this flat", @flat, method: :delete, class: "btn destroy_btn" %>
</div>

<div class="map-container"
    data-controller="map"
    data-map-markers-value="<%= @marker.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
</div>

